<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yniot.lms.db.dao.GoodsCodeMapper">

    <update id="setState">
        update biz_goods_code bgc,
        biz_order_goods bog
        set
        <if test="state ==0">
            bgc.used = 0,
            bgc.order_id = null,
            bgc.order_goods_id = null,
            bog.tag_code = null
        </if>
        <if test="state !=0">
            bgc.used = 1,
            bgc.order_id = bog.order_id,
            bgc.order_goods_id = #{orderGoodsId},
            bog.tag_code = bgc.code
        </if>
        where
        bog.tag_code = bgc.unique_code
        bgc.unique_code = #{code}
    </update>
</mapper>