<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yniot.lms.db.dao.WardrobeMapper">
    <update id="relateLaundry">
        update biz_wardrobe set modify_time = sysdate() ,
        laundry_id =
        <if test="relate">
            #{laundryId}
        </if>
        <if test="!relate">
            null
        </if>
        where id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <update id="activate">
        update biz_wardrobe set  modify_time = sysdate() , activate = #{activate} where id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>