<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yniot.lms.db.dao.WardrobeMapper">
    <resultMap id="BaseResultMap" type="com.yniot.lms.db.entity.Wardrobe">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="deleted" property="deleted"/>
        <result column="activated" property="activated"/>
        <result column="qr_code" property="qrCode"/>
        <result column="sw_version" property="swVersion"/>
        <result column="description" property="description"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="address" property="address"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
        <result column="modifier" property="modifier"/>
        <result column="creator" property="creator"/>
        <result column="laundry_id" property="laundryId"/>
        <result column="laundry_img_url" property="laundryImgUrl"/>
        <result column="laundry_name" property="laundryName"/>
        <result column="laundry_phone" property="laundryPhone"/>
        <result column="wardrobe_code" property="wardrobeCode"/>
        <result column="ava_cell_num" property="avaCellNum"/>
        <result column="total_cell_num" property="totalCellNum"/>
        <result column="used_cell_num" property="usedCellNum"/>
        <result column="closed_cell_num" property="closedCellNum"/>
        <result column="activated_cell_num" property="activatedCellNum"/>
    </resultMap>
    <update id="relateLaundry">
        UPDATE biz_wardrobe bw
        INNER JOIN biz_laundry bl ON bl.id = #{laundryId}
        SET bw.modify_time = SYSDATE( ),
        <if test="relate">
            bw.laundry_name = bl.name,
            bw.laundry_img_url = bl.img_url,
            bw.laundry_phone = bl.phone,
            bw.laundry_id = bl.id
        </if>
        <if test="!relate">
            bw.laundry_name = null,
            bw.laundry_img_url = null,
            bw.laundry_phone = null,
            bw.laundry_id =null
        </if>
        where bw.id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateWardrobeInfo">
        UPDATE biz_wardrobe bw
        INNER JOIN biz_laundry bl ON bl.id = bw.laundry_id
        SET bw.modify_time = SYSDATE( ),
            bw.laundry_name = bl.name,
            bw.laundry_img_url = bl.img_url,
            bw.laundry_phone = bl.phone,
            bw.laundry_id = bl.id
        where bw.laundry_id  is not null
    </update>


    <update id="activate">
        update biz_wardrobe set modify_time = sysdate() , activate = #{activate} where id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateAllCellNum" parameterType="list">
        UPDATE biz_wardrobe bw
        INNER JOIN (
        SELECT
        sum( CASE WHEN in_used = 0 THEN 1 ELSE 0 END ) ava_num,
        sum( CASE WHEN in_used = 1 THEN 1 ELSE 0 END ) used_num,
        sum( CASE WHEN closed = 1 THEN 1 ELSE 0 END ) closed_num,
        sum( CASE WHEN activated = 1 THEN 1 ELSE 0 END ) activated_num,
        wardrobe_id
        FROM
        biz_cell
        GROUP BY
        wardrobe_id
        ) c ON id = c.wardrobe_id
        SET
        bw.used_cell_num = c.used_num,
        bw.closed_cell_num = c.closed_num,
        bw.activated_cell_num = c.activated_num,
        bw.ava_cell_num = c.ava_num
        where 1=1
        <if test="list!=null and list.size()>0 ">
            and wardrobe_id in
            <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </update>
    <select id="selectForRelate" resultType="com.yniot.lms.db.entity.Wardrobe" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            biz_wardrobe
        WHERE
            deleted = 0
            AND (
                (
                    ( description LIKE "%#{keyWord}%" OR
                        wardrobe_code LIKE "%#{keyWord}%" OR
                        address LIKE "%#{keyWord}%" OR
                        latitude LIKE "%#{keyWord}%" OR
                        longitude LIKE "%#{keyWord}%" OR
                        laundry_name LIKE "%#{keyWord}%" OR
                        laundry_phone LIKE "%#{keyWord}%" )
                    AND (laundry_id is null or  laundry_id = 0)
                )
            OR ( laundry_id = #{laundryId} )
            )

            limit #{pageNum}-1 * #{pageSize},#{pageNum}*#{pageSize}
    </select>
</mapper>