<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yniot.lms.db.dao.CouponMapper">
  <resultMap id="BaseResultMap" type="com.yniot.lms.db.entity.Coupon">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="expired_time" jdbcType="TIMESTAMP" property="expiredTime" />
    <result column="laundry_id" jdbcType="INTEGER" property="laundryId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="discount_percent" jdbcType="INTEGER" property="discountPercent" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="used_time" jdbcType="TIMESTAMP" property="usedTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="limit_cost" jdbcType="DECIMAL" property="limitCost" />
    <result column="from_user_id" jdbcType="INTEGER" property="fromUserId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, expired_time, laundry_id, create_time, discount_percent, description, 
    deleted, used_time, state, limit_cost, from_user_id
  </sql>
  <select id="selectByExample" parameterType="com.yniot.lms.db.entity.CouponExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from biz_coupon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from biz_coupon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from biz_coupon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yniot.lms.db.entity.CouponExample">
    delete from biz_coupon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yniot.lms.db.entity.Coupon">
    insert into biz_coupon (id, user_id, expired_time, 
      laundry_id, create_time, discount_percent, 
      description, deleted, used_time, 
      state, limit_cost, from_user_id
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{expiredTime,jdbcType=TIMESTAMP}, 
      #{laundryId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{discountPercent,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, #{usedTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=INTEGER}, #{limitCost,jdbcType=DECIMAL}, #{fromUserId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yniot.lms.db.entity.Coupon">
    insert into biz_coupon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="expiredTime != null">
        expired_time,
      </if>
      <if test="laundryId != null">
        laundry_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="discountPercent != null">
        discount_percent,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="usedTime != null">
        used_time,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="limitCost != null">
        limit_cost,
      </if>
      <if test="fromUserId != null">
        from_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="expiredTime != null">
        #{expiredTime,jdbcType=TIMESTAMP},
      </if>
      <if test="laundryId != null">
        #{laundryId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="discountPercent != null">
        #{discountPercent,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="usedTime != null">
        #{usedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="limitCost != null">
        #{limitCost,jdbcType=DECIMAL},
      </if>
      <if test="fromUserId != null">
        #{fromUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yniot.lms.db.entity.CouponExample" resultType="java.lang.Long">
    select count(*) from biz_coupon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update biz_coupon
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.expiredTime != null">
        expired_time = #{record.expiredTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.laundryId != null">
        laundry_id = #{record.laundryId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.discountPercent != null">
        discount_percent = #{record.discountPercent,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.usedTime != null">
        used_time = #{record.usedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.limitCost != null">
        limit_cost = #{record.limitCost,jdbcType=DECIMAL},
      </if>
      <if test="record.fromUserId != null">
        from_user_id = #{record.fromUserId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update biz_coupon
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      expired_time = #{record.expiredTime,jdbcType=TIMESTAMP},
      laundry_id = #{record.laundryId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      discount_percent = #{record.discountPercent,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      deleted = #{record.deleted,jdbcType=BIT},
      used_time = #{record.usedTime,jdbcType=TIMESTAMP},
      state = #{record.state,jdbcType=INTEGER},
      limit_cost = #{record.limitCost,jdbcType=DECIMAL},
      from_user_id = #{record.fromUserId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yniot.lms.db.entity.Coupon">
    update biz_coupon
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="expiredTime != null">
        expired_time = #{expiredTime,jdbcType=TIMESTAMP},
      </if>
      <if test="laundryId != null">
        laundry_id = #{laundryId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="discountPercent != null">
        discount_percent = #{discountPercent,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="usedTime != null">
        used_time = #{usedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="limitCost != null">
        limit_cost = #{limitCost,jdbcType=DECIMAL},
      </if>
      <if test="fromUserId != null">
        from_user_id = #{fromUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yniot.lms.db.entity.Coupon">
    update biz_coupon
    set user_id = #{userId,jdbcType=INTEGER},
      expired_time = #{expiredTime,jdbcType=TIMESTAMP},
      laundry_id = #{laundryId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      discount_percent = #{discountPercent,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT},
      used_time = #{usedTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      limit_cost = #{limitCost,jdbcType=DECIMAL},
      from_user_id = #{fromUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>