<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yniot.lms.db.dao.LaundryMapper">
  <resultMap id="BaseResultMap" type="com.yniot.lms.db.entity.Laundry">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="qr_code" jdbcType="VARCHAR" property="qrCode" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="total_income" jdbcType="DECIMAL" property="totalIncome" />
    <result column="asap" jdbcType="BIT" property="asap" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="contract_signed" jdbcType="BIT" property="contractSigned" />
    <result column="in_biz" jdbcType="BIT" property="inBiz" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, address, phone, qr_code, deleted, total_income, asap, modify_time, create_time, 
    description, contract_signed, in_biz
  </sql>
  <select id="selectByExample" parameterType="com.yniot.lms.db.entity.LaundryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from biz_laundry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from biz_laundry
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from biz_laundry
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yniot.lms.db.entity.LaundryExample">
    delete from biz_laundry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yniot.lms.db.entity.Laundry">
    insert into biz_laundry (id, address, phone, 
      qr_code, deleted, total_income, 
      asap, modify_time, create_time, 
      description, contract_signed, in_biz
      )
    values (#{id,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{qrCode,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, #{totalIncome,jdbcType=DECIMAL}, 
      #{asap,jdbcType=BIT}, #{modifyTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=VARCHAR}, #{contractSigned,jdbcType=BIT}, #{inBiz,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yniot.lms.db.entity.Laundry">
    insert into biz_laundry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="qrCode != null">
        qr_code,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="totalIncome != null">
        total_income,
      </if>
      <if test="asap != null">
        asap,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="contractSigned != null">
        contract_signed,
      </if>
      <if test="inBiz != null">
        in_biz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null">
        #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="totalIncome != null">
        #{totalIncome,jdbcType=DECIMAL},
      </if>
      <if test="asap != null">
        #{asap,jdbcType=BIT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="contractSigned != null">
        #{contractSigned,jdbcType=BIT},
      </if>
      <if test="inBiz != null">
        #{inBiz,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yniot.lms.db.entity.LaundryExample" resultType="java.lang.Long">
    select count(*) from biz_laundry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update biz_laundry
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.qrCode != null">
        qr_code = #{record.qrCode,jdbcType=VARCHAR},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.totalIncome != null">
        total_income = #{record.totalIncome,jdbcType=DECIMAL},
      </if>
      <if test="record.asap != null">
        asap = #{record.asap,jdbcType=BIT},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.contractSigned != null">
        contract_signed = #{record.contractSigned,jdbcType=BIT},
      </if>
      <if test="record.inBiz != null">
        in_biz = #{record.inBiz,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update biz_laundry
    set id = #{record.id,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      qr_code = #{record.qrCode,jdbcType=VARCHAR},
      deleted = #{record.deleted,jdbcType=BIT},
      total_income = #{record.totalIncome,jdbcType=DECIMAL},
      asap = #{record.asap,jdbcType=BIT},
      modify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      description = #{record.description,jdbcType=VARCHAR},
      contract_signed = #{record.contractSigned,jdbcType=BIT},
      in_biz = #{record.inBiz,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yniot.lms.db.entity.Laundry">
    update biz_laundry
    <set>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null">
        qr_code = #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="totalIncome != null">
        total_income = #{totalIncome,jdbcType=DECIMAL},
      </if>
      <if test="asap != null">
        asap = #{asap,jdbcType=BIT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="contractSigned != null">
        contract_signed = #{contractSigned,jdbcType=BIT},
      </if>
      <if test="inBiz != null">
        in_biz = #{inBiz,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yniot.lms.db.entity.Laundry">
    update biz_laundry
    set address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      qr_code = #{qrCode,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT},
      total_income = #{totalIncome,jdbcType=DECIMAL},
      asap = #{asap,jdbcType=BIT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      contract_signed = #{contractSigned,jdbcType=BIT},
      in_biz = #{inBiz,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>