<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yniot.lms.db.dao.WeChatConfigMapper">
  <resultMap id="BaseResultMap" type="com.yniot.lms.db.entity.WeChatConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="ori_id" jdbcType="VARCHAR" property="oriId" />
    <result column="app_secret" jdbcType="VARCHAR" property="appSecret" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="aes_key" jdbcType="VARCHAR" property="aesKey" />
    <result column="callback_domain" jdbcType="VARCHAR" property="callbackDomain" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="activated" jdbcType="BIT" property="activated" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, app_id, ori_id, app_secret, account_name, token, aes_key, callback_domain, modified_time, 
    create_time, deleted, activated
  </sql>
  <select id="selectByExample" parameterType="com.yniot.lms.db.entity.WeChatConfigExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wechat_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wechat_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wechat_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yniot.lms.db.entity.WeChatConfigExample">
    delete from wechat_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yniot.lms.db.entity.WeChatConfig">
    insert into wechat_config (id, app_id, ori_id, 
      app_secret, account_name, token, 
      aes_key, callback_domain, modified_time, 
      create_time, deleted, activated
      )
    values (#{id,jdbcType=INTEGER}, #{appId,jdbcType=VARCHAR}, #{oriId,jdbcType=VARCHAR}, 
      #{appSecret,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, 
      #{aesKey,jdbcType=VARCHAR}, #{callbackDomain,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}, #{activated,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yniot.lms.db.entity.WeChatConfig">
    insert into wechat_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="oriId != null">
        ori_id,
      </if>
      <if test="appSecret != null">
        app_secret,
      </if>
      <if test="accountName != null">
        account_name,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="aesKey != null">
        aes_key,
      </if>
      <if test="callbackDomain != null">
        callback_domain,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="activated != null">
        activated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="oriId != null">
        #{oriId,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null">
        #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null">
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="aesKey != null">
        #{aesKey,jdbcType=VARCHAR},
      </if>
      <if test="callbackDomain != null">
        #{callbackDomain,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="activated != null">
        #{activated,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yniot.lms.db.entity.WeChatConfigExample" resultType="java.lang.Long">
    select count(*) from wechat_config
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wechat_config
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.appId != null">
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.oriId != null">
        ori_id = #{record.oriId,jdbcType=VARCHAR},
      </if>
      <if test="record.appSecret != null">
        app_secret = #{record.appSecret,jdbcType=VARCHAR},
      </if>
      <if test="record.accountName != null">
        account_name = #{record.accountName,jdbcType=VARCHAR},
      </if>
      <if test="record.token != null">
        token = #{record.token,jdbcType=VARCHAR},
      </if>
      <if test="record.aesKey != null">
        aes_key = #{record.aesKey,jdbcType=VARCHAR},
      </if>
      <if test="record.callbackDomain != null">
        callback_domain = #{record.callbackDomain,jdbcType=VARCHAR},
      </if>
      <if test="record.modifiedTime != null">
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.activated != null">
        activated = #{record.activated,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wechat_config
    set id = #{record.id,jdbcType=INTEGER},
      app_id = #{record.appId,jdbcType=VARCHAR},
      ori_id = #{record.oriId,jdbcType=VARCHAR},
      app_secret = #{record.appSecret,jdbcType=VARCHAR},
      account_name = #{record.accountName,jdbcType=VARCHAR},
      token = #{record.token,jdbcType=VARCHAR},
      aes_key = #{record.aesKey,jdbcType=VARCHAR},
      callback_domain = #{record.callbackDomain,jdbcType=VARCHAR},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      deleted = #{record.deleted,jdbcType=BIT},
      activated = #{record.activated,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yniot.lms.db.entity.WeChatConfig">
    update wechat_config
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="oriId != null">
        ori_id = #{oriId,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null">
        app_secret = #{appSecret,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null">
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="aesKey != null">
        aes_key = #{aesKey,jdbcType=VARCHAR},
      </if>
      <if test="callbackDomain != null">
        callback_domain = #{callbackDomain,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="activated != null">
        activated = #{activated,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yniot.lms.db.entity.WeChatConfig">
    update wechat_config
    set app_id = #{appId,jdbcType=VARCHAR},
      ori_id = #{oriId,jdbcType=VARCHAR},
      app_secret = #{appSecret,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      aes_key = #{aesKey,jdbcType=VARCHAR},
      callback_domain = #{callbackDomain,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      activated = #{activated,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>