<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yniot.lms.db.dao.CellMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yniot.lms.db.entity.Cell">
        <id column="id" property="id" />
        <result column="cell_no" property="cellNo" />
        <result column="deleted" property="deleted" />
        <result column="activated" property="activated" />
        <result column="wardrobe_id" property="wardrobeId" />
        <result column="in_used" property="inUsed" />
        <result column="create_time" property="createTime" />
        <result column="order_id" property="orderId" />
        <result column="closed" property="closed" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cell_no, deleted, activated, wardrobe_id, in_used, create_time, order_id, closed
    </sql>

</mapper>
