<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yniot.lms.db.dao.GoodsTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yniot.lms.db.entity.GoodsType">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="unit_id" property="unitId" />
        <result column="deleted" property="deleted" />
        <result column="modify_time" property="modifyTime" />
        <result column="catalog_id" property="catalogId" />
        <result column="banner_img_url" property="bannerImgUrl" />
        <result column="avg_price" property="avgPrice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, description, unit_id, deleted, modify_time, catalog_id, banner_img_url, avg_price
    </sql>

</mapper>
