<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yniot.lms.db.dao_.OrderCostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yniot.lms.db.entity.OrderCost">
        <id column="id" property="id" />
        <result column="generate_time" property="generateTime" />
        <result column="confirm_time" property="confirmTime" />
        <result column="expired_in_min" property="expiredInMin" />
        <result column="expired_time" property="expiredTime" />
        <result column="confirmed" property="confirmed" />
        <result column="discount" property="discount" />
        <result column="ext_cost" property="extCost" />
        <result column="asap" property="asap" />
        <result column="est_total_cost" property="estTotalCost" />
        <result column="act_total_cost" property="actTotalCost" />
        <result column="act_paid_cost" property="actPaidCost" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, generate_time, confirm_time, expired_in_min, expired_time, confirmed, discount, ext_cost, asap, est_total_cost, act_total_cost, act_paid_cost
    </sql>

</mapper>
