<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yniot.lms.db.dao_.OrderGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yniot.lms.db.entity.OrderGoods">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="storage_cell_id" property="storageCellId" />
        <result column="put_cell_id" property="putCellId" />
        <result column="deleted" property="deleted" />
        <result column="wardrobe_id" property="wardrobeId" />
        <result column="create_time" property="createTime" />
        <result column="launder_type" property="launderType" />
        <result column="count" property="count" />
        <result column="code" property="code" />
        <result column="state" property="state" />
        <result column="canceled" property="canceled" />
        <result column="goods_id" property="goodsId" />
        <result column="est_total_cost" property="estTotalCost" />
        <result column="act_total_cost" property="actTotalCost" />
        <result column="description" property="description" />
        <result column="ext_cost" property="extCost" />
        <result column="est_unit_price" property="estUnitPrice" />
        <result column="act_unit_price" property="actUnitPrice" />
        <result column="name" property="name" />
        <result column="img_url" property="imgUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, storage_cell_id, put_cell_id, deleted, wardrobe_id, create_time, launder_type, count, code, state, canceled, goods_id, est_total_cost, act_total_cost, description, ext_cost, est_unit_price, act_unit_price, name, img_url
    </sql>

</mapper>
