<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yniot.lms.db.dao.PriceTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yniot.lms.db.entity.PriceTable">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="price" property="price" />
        <result column="laundry_id" property="laundryId" />
        <result column="deleted" property="deleted" />
        <result column="modify_time" property="modifyTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id, price, laundry_id, deleted, modify_time, create_time
    </sql>

</mapper>
